<div class="row">
  <% @articles.each do |article| %>
    <div class="col-md-4">
      <div class="well text-center">
        <div class="article-card">
        <img src="<%= article.image %>" class="img-responsive" alt="<%=article.title %>">
        <a href="/articles/<%= article.id %>"><div class="top"><div class="flex-center"><p><%= article.summary %></p></div></div></a>
        </div>
        <h4><%= article.title %>
          <% if current_user && current_user.hasnt_liked?(article) %>
            <form style="display: inline;" method="POST" action="/articles/<%= article.id %>/likes">
              <button class="icon-button" type="submit"><span class="ltgray glyphicon glyphicon-heart"></span></button>
            </form>
          <% else %>
          <form style="display: inline;" method="POST" action="/articles/<%= article.id %>/likes/delete">
              <button class="icon-button" type="submit"><span class="red glyphicon glyphicon-heart"></span></button>
          <% end %>
          <% if current_user && current_user.hasnt_bookmarked?(article) %>
            <form style="display: inline;" method="POST" action="/articles/<%= article.id %>/bookmarks">
              <button class="icon-button" type="submit"><span class="ltgray glyphicon glyphicon-bookmark"></span></button>
            </form>
          <% else %>
           <form style="display: inline;" method="POST" action="/articles/<%= article.id %>/bookmarks/delete">
              <button class="icon-button" type="submit"><span class="blue glyphicon glyphicon-bookmark"></span></button>
          <% end %>
      </div>
    </div>
  <% end %>
</div>