<div>
  <% @articles.each do |article| %>
    <div>
      <h4><%= article.title %></h4>
      <p><a href="/articles/<%= article.id %>"><img src="<%= article.image %>"></a></p>
      <% if current_user && current_user.hasnt_liked?(article) %>
        <form method="POST" action="/articles/<%= article.id %>/likes">
          <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-heart"></span></button>
          <a href="#">Likes: <span class="badge"><%= article.likes.count %></span></a>
        </form>
      <% else %>
        <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-heart"></span></button>
        <a href="#">Likes: <span class="badge"><%= article.likes.count %></span></a>
      <% end %>
    </div>
  <% end %>
</div>