<!-- THIS PAGE DISPLAYS THE INDIVIDUAL ARTICLE'S INFO -->

<div>
  <%= @article.title %>
</div>

<div>
  Posted by: <%= @article.user_id %> | <%= @article.created_at %>
</div>

<div>
  <a href="<%= @article.url %>">Link To Article</a>
  <!-- Logos to share with friends: email, facebook, twitter -->
</div>

<div>
  <img src="<%= @article.image %>" alt="<%= @article.title %>" />
</div>

<div>
  <% if current_user.hasnt_liked?(@article) %>
    <form method="POST" action="/like">
      <input type="hidden" name="article_id" value="<%= @article.id %>" />
      <input type="hidden" name="user_id" value="<%= current_user.id %>" />
      <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-heart"></span></button>
    </form>
  <% else %>
    <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-heart"></span></button>
  <% end %>
  <a href="#">Likes: <span class="badge"><%= @article.likes.count %></span></a>
</div>

<div>
  <%= @article.summary %>
</div>

<div>
  <p>Post a comment: </p>
  <form method="post" action="/comments">
    <input type="hidden" name="article_id" value="<%= @article.id %>"/>
    <div>
      <label for="comment">Comment: </label>
      <textarea rows="3" col="50" id="comment" name="comment"></textarea>
    </div>
    <div>
      <button>Post</button>
    </div>
  </form>
  <p>Comments</p>
</div>

<% @article.comments.each do |comment| %>
  <div class="article">
    <p>
      <%= comment.comment %> by <%= comment.user.username %>
    </p>
  </div>
<% end %>
