<div class="container">
  <div class="row">
    <h1><%= @article.title %></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="<%= @article.image %>" class="img-responsive" alt="<%=@article.title %>" style="width: 100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>Posted by: <a href="/users/<%= @article.user_id %>"><%= @article.user.username %></a> | <%= @article.created_at.strftime("%B %d, %Y") %> | <a href="<%= @article.url %>"><span class="glyphicon glyphicon-link"></span>Link To Article</a></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5><%= @article.summary %></h5>
    </div>
  </div>
</div>