<div class="container">
  <div class="row well">
    <div class="col-md-1 fill">
      <img src="<%= @user.gravitar%>" />
    </div>
    <div class="col-md-6">
      <h3><%= @user.username %></h3>
      <h4><%= @user_rank%></h4>
      <h4>Likes Received: <%= @total_likes %></h4>
    </div>
  </div>
</div>
      
<div class="container">
  <% if current_user.id == @user.id %>
  <ul class="nav nav-pills margin-bottom-15" role="tablist">
    <li role="presentation" class="active"><a href="#articles" aria-controls="articles" role="tab" data-toggle="tab">Articles</a></li>
    <li role="presentation"><a href="#bookmarks" aria-controls="bookmarks" role="tab" data-toggle="tab">Bookmarks</a></li>
  </ul>
  <% else %>
  <ul class="nav nav-pills margin-bottom-15" role="tablist">
    <li role="presentation" class="active"><a href="#articles" aria-controls="articles" role="tab" data-toggle="tab">Articles</a></li>
  </ul>
  <% end %>
</div>
<div class="container">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="articles">
      <div class="row">
        <% @user.articles.each do |article| %>
          <div class="col-md-3">
            <div class="well text-center">
              <a href="/articles/<%= article.id %>">
              <div class="square" style="background-image:url('<%= article.image %>')">
              <div class="overlay"><div class="overlay-center"><p><%= article.summary.truncate(120) %></p></div></div>
              </div></a>
              <h4>
                <% if current_user %>
                  <% if current_user && current_user.hasnt_liked?(article) %>
                    <form style="display: inline;" method="POST" action="/articles/<%= article.id %>/likes">
                      <button class="icon-button" type="submit"><span class="ltgray glyphicon glyphicon-heart"></span></button>
                    </form>
                  <% else %>
                    <form style="display: inline;" method="POST" action="/articles/<%= article.id %>/likes/delete">
                        <button class="icon-button" type="submit"><span class="red glyphicon glyphicon-heart"></span></button>
                    </form>
                  <% end %>
                  <% if current_user && current_user.hasnt_bookmarked?(article) %>
                    <form style="display: inline;" method="POST" action="/articles/<%= article.id %>/bookmarks">
                      <button class="icon-button" type="submit"><span class="ltgray glyphicon glyphicon-bookmark"></span></button>
                    </form>
                  <% else %>
                   <form style="display: inline;" method="POST" action="/articles/<%= article.id %>/bookmarks/delete">
                      <button class="icon-button" type="submit"><span class="blue glyphicon glyphicon-bookmark"></span></button>
                    </form>
                  <% end %>
                <% end %>
              </h4>
              <h5><%= article.title.truncate(25) %></h5>
                <p>
                <% if current_user %>
                  <a href="/users/<%= article.user_id %>">@<%= User.find(article.user_id).username %></a>
                  <% else %>
                  <%= User.find(article.user_id).username %>
                  <% end %> 
                  | <%= article.created_at.strftime("%m.%d.%y") %></p>
                <p><span class="label label-primary">Likes: <%= article.likes.count %></span> <span class="label label-primary">Comments: <%= article.comments.count %></span></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="bookmarks">
      <div class="row">
        <% @bookmarks.each do |bookmark| %>
          <div class="col-md-3">
            <div class="well text-center">
              <a href="/articles/<%= bookmark.id %>">
              <div class="square" style="background-image:url('<%= bookmark.image %>')">
              <div class="overlay"><div class="overlay-center"><p><%= bookmark.summary.truncate(120) %></p></div></div>
              </div></a>
              <h4>
                <% if current_user %>
                  <% if current_user && current_user.hasnt_liked?(bookmark) %>
                    <form style="display: inline;" method="POST" action="/articles/<%= bookmark.id %>/likes">
                      <button class="icon-button" type="submit"><span class="ltgray glyphicon glyphicon-heart"></span></button>
                    </form>
                  <% else %>
                    <form style="display: inline;" method="POST" action="/articles/<%= bookmark.id %>/likes/delete">
                        <button class="icon-button" type="submit"><span class="red glyphicon glyphicon-heart"></span></button>
                    </form>
                  <% end %>
                  <% if current_user && current_user.hasnt_bookmarked?(bookmark) %>
                    <form style="display: inline;" method="POST" action="/articles/<%= bookmark.id %>/bookmarks">
                      <button class="icon-button" type="submit"><span class="ltgray glyphicon glyphicon-bookmark"></span></button>
                    </form>
                  <% else %>
                   <form style="display: inline;" method="POST" action="/articles/<%= bookmark.id %>/bookmarks/delete">
                      <button class="icon-button" type="submit"><span class="blue glyphicon glyphicon-bookmark"></span></button>
                    </form>
                  <% end %>
                <% end %>
              </h4>
              <h5><%= bookmark.title.truncate(25) %></h5>
                <p>
                <% if current_user %>
                  <a href="/users/<%= bookmark.user_id %>">@<%= User.find(bookmark.user_id).username %></a>
                  <% else %>
                  <%= User.find(bookmark.user_id).username %>
                  <% end %> 
                  | <%= bookmark.created_at.strftime("%m.%d.%y") %></p>
                <p><span class="label label-primary">Likes: <%= bookmark.likes.count %></span> <span class="label label-primary">Comments: <%= bookmark.comments.count %></span></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

