
<div class="row">
  <div class="col-md-3 avatar" style=" height: 200px;">
    <div class="list-group">
      <a href="#" class="list-group-item disabled">
      <%= @user.username %>
    </a>
  <img src="<%= @user.gravitar%>" class="list-group-item"/>
   YOUR SCIENCE KLOUT IS:<%=@total_likes %>
  </div>

      <!-- Nav tabs -->
      <div class="col-md-9">
        <div class="well">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
            <a href="#articles" aria-controls="home" role="tab" data-toggle="tab">Articles</a></li>
            <li role="presentation">
            <a href="#bookmarks" aria-controls="bookmarks" role="tab" data-toggle="tab">Bookmarks</a></li>
        
​
      <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="articles">
              <% @user.articles.each do |article| %>
              <%= article.title %>
              <%= article.url %>
              <p><a href="/articles/<%= article.id %>"><img src="<%= article.image %>"></a></p>
              <%end%>
            </div>
            <div role="tabpanel" class="tab-pane" id="bookmarks">
              <% @bookmarks.each do |bookmark| %>
              <%= bookmark.title %>
              <%= bookmark.url %>
              <p><a href="/articles/<%= bookmark.id %>"><img src="<%= bookmark.image %>"/></p>
              <%end%>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>
          </div>
​          
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
      </div>
    </div>
  </div> 
          </div>

